.background {
  position: absolute;
  z-index: 8;

  &::after {
    content: "";
    position: absolute;
    z-index: 8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.6;
  }
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: bisque;
  border-radius: 10px;
  padding: 12px;

  &__description {
    padding: 0;
    text-align: center;
  }
}
